img{
    border: violet;
    border-style: solid;
    border-width: 1px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container__1 {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.product-image {
    background-color: #fff;
    overflow: hidden;
    width: 50%;
}

.main-image {
    background-color: #45a049;
}
#main-image {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    height: 80vh;
    object-fit:fill;
    cursor: pointer;
}

.thumbnail-images {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 40vh;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    height: 20vh;
    object-fit: contain
}
.thum1{
    width: 100%;
    height: 40vh;
    object-fit: cover;

}

.product-features {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 50%;
}

.product-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.stock-text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.rating {
    font-size: 20px;
    margin-bottom: 10px;
}

.star {
    color: #FFD700;
}

.product-description {
    line-height: 1.5;
    margin-bottom: 10px;
}

.special-features {
    margin-bottom: 10px;
}

.selections {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.selection {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

select,
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.price-submit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-button {
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}

.price-text {
    font-size: 24px;
    font-weight: bold;
}
